<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ReactiveFormsApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav w-100">
        <!-- Reactive Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLinkActive="active">
            Reactive
          </a>
          <ul class="dropdown-menu">
            @for (item of reactiveMenu; track item.title) {
              <li><a class="dropdown-item" [routerLink]="item.route" routerLinkActive="active">{{item.title}}</a></li>
            }
          </ul>
        </li>

        <!-- Auth Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLinkActive="active">
            Auth
          </a>
          <ul class="dropdown-menu">
            @for (item of authMenu; track item.title) {
              <li><a class="dropdown-item" [routerLink]="item.route" routerLinkActive="active">{{item.title}}</a></li>
            }
          </ul>
        </li>

        <!-- Country Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLinkActive="active">
            Country
          </a>
          <ul class="dropdown-menu">
            @for (item of countryMenu; track item.title) {
              <li><a class="dropdown-item" [routerLink]="item.route" routerLinkActive="active">{{item.title}}</a></li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
